<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>
    <link href="/css/stylesCarrito.css" rel="stylesheet">
    <title>Carrito</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="articleContainer">
            <article class="article">
                <div class="img-article">
                <img class="img" src="/img/Imagen1.jpg" alt="">
            </div>
                <div class="details">
                   <h3 class="productTitle">PRODUCTO</h3>
                   <p class="amount">CANTIDAD</p>
                   <div class="product-amount">
                    <button><i class="fas fa-chevron-left"></i></button>
                    <a><button>numero</button></a>
                    <button><i class="fas fa-chevron-right"></i></button>
                </div>
                   <p class="price">PRECIO</p> 
                   <button class="trashButton"><i class="fas fa-trash"></i></button>
                </div>
            </article>
            <article class="article">
                <div class="img-article">
                <img class="img" src="/img/Imagen1.jpg" alt="">
            </div>
                <div class="details">
                   <h3 class="productTitle">PRODUCTO</h3>
                   <p class="amount">CANTIDAD</p>
                   <div class="product-amount">
                    <button><i class="fas fa-chevron-left"></i></button>
                    <a><button>numero</button></a>
                    <button><i class="fas fa-chevron-right"></i></button>
                </div>
                   <p class="price">PRECIO</p> 
                   <button class="trashButton"><i class="fas fa-trash"></i></button>
                </div>
            </article>
            <article class="article">
                <div class="img-article">
                <img class="img" src="/img/Imagen1.jpg" alt="">
            </div>
                <div class="details">
                   <h3 class="productTitle">PRODUCTO</h3>
                   <p class="amount">CANTIDAD</p>
                   <div class="product-amount">
                    <button><i class="fas fa-chevron-left"></i></button>
                    <a><button>numero</button></a>
                    <button><i class="fas fa-chevron-right"></i></button>
                </div>
                   <p class="price">PRECIO</p> 
                   <button class="trashButton"><i class="fas fa-trash"></i></button>
                </div>
            </article>
        </div>
        <!-- Ofertas -->
        <h3 class="offertTitle">OFERTAS</h3>
        <div class="offertContainer">
            <article class="offertArticle">
                <div class="offertLabel">
                <img class="offertImg" src="/img/Imagen3.jpg" alt="">
                <p class="productTitle">Titulo</p>
                <p class="offertPrice">Precio</p>
                <button><p>Agregar al carrito</p></button>
                </div>
            </article>
            <article class="offertArticle">
                <div class="offertLabel">
                <img class="offertImg" src="/img/Imagen3.jpg" alt="">
                <p class="productTitle">Titulo</p>
                <p class="offertPrice">Precio</p>
                <button><p>Agregar al carrito</p></button>
                </div>
            </article>
            <article class="offertArticle">
                <div class="offertLabel">
                <img class="offertImg" src="/img/Imagen3.jpg" alt="">
                <p class="productTitle">Titulo</p>
                <p class="offertPrice">Precio</p>
                <button><p>Agregar al carrito</p></button>
                </div>
            </article>
        </div>
        <!-- ENVIO -->
        <div class="botones">
            <p><button><a href="#">FINALIZAR COMPRA</a></button></p>
            <p><button><a href="/">VOLVER AL INICIO</a></button></p>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>