<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/stylesCarrito.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <title>Carrito</title>
</head>
<body>
    <header>
        <h1 class="homeHeader">HEADER DEL HOME</h1>
    </header>
    <main>
        <!-- NavBar -->
        <div class="productNavbar">
            <a class="category" href="#">Categoria</a>
            <p class="more">></p>
            <a class="cart" href="#">Carrito <i class="fas fa-shopping-cart"></i></a>
        </div>
        <!-- Productos Carrito -->
        <div class="articleContainer">
            <article class="article">
                <img class="img" src="/img/Imagen1.jpg" alt="">
                <div class="details">
                   <h3 class="productTitle">PRODUCTO</h3>
                   <p class="amount">CANTIDAD</p>
                   <div class="product-amount">
                    <button><i class="fas fa-chevron-left"></i></button>
                    <a>##</a>
                    <button><i class="fas fa-chevron-right"></i></button>
                </div>
                   <p class="price">PRECIO</p> 
                   <button class="trashButton"><i class="fas fa-trash"></i></button>
                </div>
            </article>
            <article class="article">
                <img class="img" src="/img/Imagen1.jpg" alt="">
                <div class="details">
                   <h3 class="productTitle">PRODUCTO</h3>
                   <p class="amount">CANTIDAD</p>
                   <div class="product-amount">
                    <button><i class="fas fa-chevron-left"></i></button>
                    <a>##</a>
                    <button><i class="fas fa-chevron-right"></i></button>
                </div>
                   <p class="price">PRECIO</p> 
                   <button class="trashButton"><i class="fas fa-trash"></i></button>
                </div>
            </article>
            <article class="article">
                <img class="img" src="/img/Imagen1.jpg" alt="">
                <div class="details">
                   <h3 class="productTitle">PRODUCTO</h3>
                   <p class="amount">CANTIDAD</p>
                   <div class="product-amount">
                    <button><i class="fas fa-chevron-left"></i></button>
                    <a>##</a>
                    <button><i class="fas fa-chevron-right"></i></button>
                </div>
                   <p class="price">PRECIO</p> 
                   <button class="trashButton"><i class="fas fa-trash"></i></button>
                </div>
            </article>
        </div>
        <!-- Ofertas -->
        <h3 class="offertTitle">OFERTAS</h3>
        <div class="offertContainer">
            <article class="offertArticle">
                <div class="offertLabel">
                <img class="offertImg" src="/img/Imagen3.jpg" alt="">
                <p class="productTitle">Titulo</p>
                <p class="offertPrice">Precio</p>
                <button><p>Agregar al carrito</p></button>
                </div>
            </article>
            <article class="offertArticle">
                <div class="offertLabel">
                <img class="offertImg" src="/img/Imagen3.jpg" alt="">
                <p class="productTitle">Titulo</p>
                <p class="offertPrice">Precio</p>
                <button><p>Agregar al carrito</p></button>
                </div>
            </article>
            <article class="offertArticle">
                <div class="offertLabel">
                <img class="offertImg" src="/img/Imagen3.jpg" alt="">
                <p class="productTitle">Titulo</p>
                <p class="offertPrice">Precio</p>
                <button><p>Agregar al carrito</p></button>
                </div>
            </article>
        </div>
        <!-- ENVIO -->
        <div>
        <h3 style="text-align: center;margin-top: 30px;">DATOS DE ENVIO</h3>
        </div>
        <div class="dataContainer">
            <p class="data">NOMBRE Y APELLIDO</p>
            <p class="data">CALLE/AVENIDA</p>
            <p class="data">PROVINCIA</p>
            <p class="data">CIUDAD</p>
            <p class="data">CODIGO POSTAL</p>
            <p class="data" style="font-size: 100%;">PISO/DEPARTAMENTO</p>
            <p class="data">NUMERO DE TELEFONO</p>
            <div class="data">
            <p>ESTA ES TU:</p>
            <p>CASA<i class="far fa-circle"></i></p>
            <p>TRABAJO<i class="far fa-circle"></i></p>
            </div>
        </div>
    </main>
</body>
</html>