<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="/css/stylesCarrito.css" rel="stylesheet">
    <link href="/css/stylesDetalle.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <script src="https://kit.fontawesome.com/4d18b4db01.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4d18b4db01.js" crossorigin="anonymous"></script>
    <title>Carrito</title>
</head>
<body>
    <header class="header-nav">
        <div class="contenedor-bar"> 
        <img src="/img/Marca Huerta Ya_marca.png" alt="logo" class="logo-nav">
        <div class="contenedor-search"> 
        <input type="search" placeholder="Buscar producto" class="buscador-header"></div>
        
        <a href="#" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>
    </div>  
        <navbar class="main-nav">
            <ul class="left-nav">
                <li><a href="/Nosotros">Nosotros</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Combos</a></li>
            </ul>
            <ul class="right-nav"> 
                <li><a href="/login"><i class="fa-solid fa-right-to-bracket"></i>Login</a></li>
                <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i>Mi Carrito</a></li>
                <li><a href="/register">Crea tu Cuenta</a></li> 
            </ul>         
        </navbar>
    </header>
    <main>
        <div class="articleContainer">
            <article class="article">
                <img class="img" src="/img/Imagen1.jpg" alt="">
                <div class="details">
                   <h3 class="productTitle">PRODUCTO</h3>
                   <p class="amount">CANTIDAD</p>
                   <div class="product-amount">
                    <button><i class="fas fa-chevron-left"></i></button>
                    <a><button>numero</button></a>
                    <button><i class="fas fa-chevron-right"></i></button>
                </div>
                   <p class="price">PRECIO</p> 
                   <button class="trashButton"><i class="fas fa-trash"></i></button>
                </div>
            </article>
            <article class="article">
                <img class="img" src="/img/Imagen1.jpg" alt="">
                <div class="details">
                   <h3 class="productTitle">PRODUCTO</h3>
                   <p class="amount">CANTIDAD</p>
                   <div class="product-amount">
                    <button><i class="fas fa-chevron-left"></i></button>
                    <a><button>numero</button></a>
                    <button><i class="fas fa-chevron-right"></i></button>
                </div>
                   <p class="price">PRECIO</p> 
                   <button class="trashButton"><i class="fas fa-trash"></i></button>
                </div>
            </article>
            <article class="article">
                <img class="img" src="/img/Imagen1.jpg" alt="">
                <div class="details">
                   <h3 class="productTitle">PRODUCTO</h3>
                   <p class="amount">CANTIDAD</p>
                   <div class="product-amount">
                    <button><i class="fas fa-chevron-left"></i></button>
                    <a><button>numero</button></a>
                    <button><i class="fas fa-chevron-right"></i></button>
                </div>
                   <p class="price">PRECIO</p> 
                   <button class="trashButton"><i class="fas fa-trash"></i></button>
                </div>
            </article>
        </div>
        <!-- Ofertas -->
        <h3 class="offertTitle">OFERTAS</h3>
        <div class="offertContainer">
            <article class="offertArticle">
                <div class="offertLabel">
                <img class="offertImg" src="/img/Imagen3.jpg" alt="">
                <p class="productTitle">Titulo</p>
                <p class="offertPrice">Precio</p>
                <button><p>Agregar al carrito</p></button>
                </div>
            </article>
            <article class="offertArticle">
                <div class="offertLabel">
                <img class="offertImg" src="/img/Imagen3.jpg" alt="">
                <p class="productTitle">Titulo</p>
                <p class="offertPrice">Precio</p>
                <button><p>Agregar al carrito</p></button>
                </div>
            </article>
            <article class="offertArticle">
                <div class="offertLabel">
                <img class="offertImg" src="/img/Imagen3.jpg" alt="">
                <p class="productTitle">Titulo</p>
                <p class="offertPrice">Precio</p>
                <button><p>Agregar al carrito</p></button>
                </div>
            </article>
        </div>
        <!-- ENVIO -->
    </main>
    <footer>
        
        
        <div class="botones">
            <p><button>FINALIZAR COMPRA</button></p>
            <p><button>VOLVER AL INICIO</button></p>
        </div>
        
        <div class="footerContainer">
        </div>
        <nav>
            <div class="footer-container">
                <div class="footer-informacion">
                    <h4>Información</h4>
                    <ul>
                        <li>Tienda</li>
                        <li>Promociones</li>
                        <li>Combos</li>
                        <li>Productores</li>
                        <li>Ofertas</li>
                        <br>
                        <li>Contacto</li>
                    </ul>
            </div>
                <div class="footer-categorias">
                    <h4>Categorías</h4>
                    <ul>
                        <li>Bolsones</li>
                        <li>Verduras cortadas</li>
                        <li>verduras en bolsa</li>
                        <li>etc</li>
                    </ul>
                </div>
                <div class="footer-reparto">
                    <h4>Próximo reparto</h4>
                    <ul>
                        <li><p class="footer-reparto-fecha">Fecha</p></li>
                    </ul>
                </div>
            </div>
            <div class="footer-redes">
                    <h4>Redes</h4>
                    <img src="" alt="facebook">
                    <img src="" alt="instagram">
                    <a><img src="" alt="Whatsapp"></a>
            </div>
            
        </nav>
    </footer>
</body>
</html>