<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/stylesCarrito.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <title>Carrito de compras</title>
</head>
<body>
    <header>
        
        <div class="contenedorUser">
            <p>Lugar para poner foto User</p>
            <p class="user">User</p>
        </div>

        <div class="contenedor1">
    <div class="contenedorInicio">
        <p class="catcarrito">Categoria>Carrito<i class="fa-solid fa-cart-shopping"></i></p>
    </div>
    <div>
        <p class="inicio">Inicio</p>
    </div>
</div>
</header>
<main>
<div class="contenedorPrincipal">

    <div class="contenedorSecundario">

<div class="contenedorTerciario">
    <div class="contenedorImagen">
        <p>Imagen</p>
    </div>
    <div class="contenedorProducto">
        <p class="producto">Producto</p>
        <p class="cantidad">cantidad</p>
        <div class="contenedorPrecio">
        <p class="precio">precio:</p>
        <p> Total</p>
        </div>
    </div>
</div>

<div class="contenedorTerciario">
    <div class="contenedorImagen">
        <p>Imagen</p>
    </div>
    <div class="contenedorProducto">
        <p class="producto">Producto</p>
        <p class="cantidad">cantidad</p>
        <div class="contenedorPrecio">
        <p class="precio">precio:</p>
        <p> Total</p>
        </div>
    </div>
</div>

<div class="contenedorTerciario">
    <div class="contenedorImagen">
        <p>Imagen</p>
    </div>
    <div class="contenedorProducto">
        <p class="producto">Producto</p>
        <p class="cantidad">cantidad</p>
        <div class="contenedorPrecio">
        <p class="precio">precio:</p>
        <p class="total"> Total</p>
        </div>
    </div>
</div>
    </div>
    <div class="contenedorCuaternario">
        <div>
            <p>Datos de envio</p>
        </div>
    </div>
</div>
</main>
</body>
</html>

