<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stylesLogin.css">
    <link rel="stylesheet" href="/css/stylesIndex.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home_Huerta_Ya</title>
</head>
<body>
    <header class="header-nav">
        <div class="contenedor-bar">
            <img src="/img/Marca Huerta Ya_Marca.png" alt="logo" class="logo-nav">
            <div class="contenedor-search">
                <input type="text" placeholder="buscar producto" class="buscador-header">
            </div>

            <a href="#" class="hamburguer-button">
                <i class="fa-solid fa-bars"></i>
            </a>

        </div>
        <nav class="main-nav">
            <ul class="left-nav">
                <li>Nosotros</li>
                <li>Productos</li>
                <li>Combos</li>
            </ul>
            <ul class="right-nav">
                <li>Login</li>
                <li>Mi Carrito</li>
                <li>Buscar</li>
            </ul>
        </nav>
    </header>

    <section class="intro">
        <h2>PRÓXIMA ENTREGA</h2>
        <h1>17/05/2023</h1>
        <a class="button-order"><h3>PEDIR AHORA</h3></a>
    </section>

    <section class="carrusel">
        <div class="carrusel-1">
            <h2>COMPROMISO SUSTENTABLE</h2>
            <P>Guardá tu caja cuando recibas nuestro pedido 
                para  reutilizarla y así reducir los residuos
                generados.</P>
        </div>
        <div class="carrusel-2">
            <h2>MISION</h2>
            <P>Fomentar el consumo de frutas y verduras
                orgánicas, libre de fertilizantes, cuidando los
                recursos naturales y residuos generados, 
                desde la comodidad del hogar de nuestros
                clientes. </P>
        </div>
        <div class="carrusel-3">
            <h2>COMO COMPRAR</h2>
            <p>Seleccioná los productos y/o combos y añadilos
                a tu carrito. Elegí la fecha de entrega, aboná 
                tu pedido con el método pago que prefieras... 
                y listo! </p>
        </div>
    </section>

    <section class="delivery">
        
            <div class="tres-pasos">
                
                <div class="camioneta">
                    <img class="delivery-marca" src="../img/Delivery.png" alt="">
                    <h3>EN 3 PASOS</h3>
                    <img class="camioneta-con-camino" src="../img/camioneta con camino.png" alt="">
                </div>
               
                <a class="start-order"><h4>COMENZAR PEDIDO</h4></a>
            </div>
        
    </section>
    <section class="repetir-pedido-0">
    </section>
    <section class="manzana">
            <div class="repetir-pedido">
                    <h5>¿Ya pediste y querés repetir el pedido?</h5>
                    <a class="login-index"><h4>INICIÁ SESIÓN</h4></a>
                </div>
            <div class="envio"><h4>CALCULAR ENVÍO</h4>
                    <form class="form-codigo">
                        <label for="codigo-postal"></label>
                        <input class="space-cp" type="CP" name="codigo-postal" placeholder="Tu código postal">
                    <button type="submit" class="button-calcular">CALCULAR</button>
                    </form>
                    <a><h6>No se mi código postal</h6></a>
            </div>
    </section>     
    

    <footer>
        <img class="footer-logo" width="15%" heigth="15%" src="img/Marca Huerta Ya_Marca.png" alt="">
        <nav>
            <div class="footer-container">
                <div class="footer-informacion">
                    <h4>Información</h4>
                    <ul>
                        <li>Tienda</li>
                        <li>Promociones</li>
                        <li>Combos</li>
                        <li>Productores</li>
                        <li>Ofertas</li>
                        <br>
                        <li>Contacto</li>
                    </ul>
            </div>
                <div class="footer-categorias">
                    <h4>Categorías</h4>
                    <ul>
                        <li>Bolsones</li>
                        <li>Verduras cortadas</li>
                        <li>verduras en bolsa</li>
                        <li>etc</li>
                    </ul>
                </div>
                <div class="footer-reparto">
                    <h4>Próximo reparto</h4>
                    <ul>
                        <li><p class="footer-reparto-fecha">Fecha</p></li>
                    </ul>
                </div>
            </div>
            <div class="footer-redes">
                    <h4>Redes</h4>
                    <img src="" alt="facebook">
                    <img src="" alt="instagram">
                    <a><img src="" alt="Whatsapp"></a>
            </div>
            
        </nav>
    </footer>
</body>
</html>