<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home_Huerta_Ya</title>
</head>
<body>
    <header>
        <navbar>
            <ul style="list-style: none;">
                <li>Nosotros</li>
                <li>Productos</li>
                <li>Combos</li>
                <li><img width="15%" heigth="15%" src="images/Marca Huerta Ya_Marca.png" alt=""></li>
                <li>Login</li>
                <li>Mi Carrito</li>
                <li>Buscar</li>
            </ul>            
        </navbar>
    </header>
    <section class="intro">
        <img src="images/cherrys.jpg" alt="">
        <h2>PRÓXIMA ENTREGA</h2>
        <h1>17/05/2023</h1>
        <a><h3>Lugar para PEDIR AHORA</h3></a>
    </section>
    <section class="carrusel">
        <div>
            <img src="" alt="">
            <h2>NOSOTROS</h2>
            <P>TEXTO DE QUIENES SOMOS</P>
        </div>
        <div>
            <img src="" alt="">
            <h2>MISION</h2>
            <P>TEXTO DE LA MISION</P>
        </div>
        <div>
            <img src="" alt="">
            <h2>COMO COMPRAR</h2>
            <P>TEXTO DE COMO COMPRAR O ENLACE</P>
        </div>
    </section>
    <section class="delivery">
        <img src="" alt="fondo">
        <div><h3>TENEMOS DELIVERY EN 3 PASOS</h3>
            <img src="" alt="paso 1">
            <img src="" alt="paso 2">
            <img src="" alt="paso 3">
            <h3>COMENZAR PEDIDO</h3>
        </div>
        <div>
            <h4>¿Ya pediste y querés repetir el pedido?</h4>
            <a><h3>INICIÁ SESIÓN</h3></a>
        </div>
        <div><h3>CALCULAR ENVÍO</h3>
            <a><h4>Lugar para colocar código postal</h4></a>
            <a>CALCULAR</a>
            <a>No se mi código postal</a>
        </div>
    </section>
<footer>
    <img width="15%" heigth="15%" src="images/Marca Huerta Ya_Marca.png" alt="">
    <nav>
        <ul style="list-style: none;">
            <li>¿Tenés consultas?</li>
            <li>Contacto</li>
            <li>Seguinos</li>
            <img src="" alt="facebook">
            <img src="" alt="instagram">
            
        </ul>
    </nav>
    <a><img src="" alt="Whatsapp"></a>
</footer>
</body>
</html>