<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stylesIndex.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home_Huerta_Ya</title>
</head>
<body>
    <header>
        <navbar>
            <ul class="nav" style="list-style: none;">
                <li><a href="#">Nosotros</a></li>
                <li><a href="detalle-de-producto">Productos</a></li>
                <li><a href="detalle-de-producto">Combos</a></li>
                <li><img width="110%" heigth="110%" src="img/Marca Huerta Ya_Marca.png" alt=""></li>
                <li><a href="login">Login</a></li>
                <li><a href="carrito">Mi Carrito</a></li>
                <li><a href="#">Buscar</a></li>
            </ul>            
        </navbar>
    </header>

    <section class="intro">
        <h2>PRÓXIMA ENTREGA</h2>
        <h1>17/05/2023</h1>
        <a class="button-order"><h3>PEDIR AHORA</h3></a>
    </section>

    <section class="carrusel">
        <div class="carrusel-1">
            <h2>NOSOTROS</h2>
            <P>TEXTO DE QUIENES SOMOS</P>
        </div>
        <div class="carrusel-2">
            <h2>MISION</h2>
            <P>TEXTO DE LA MISION</P>
        </div>
        <div class="carrusel-3">
            <h2>COMO COMPRAR</h2>
            <a>TEXTO DE COMO COMPRAR O ENLACE</a>
        </div>
    </section>

    <section class="delivery">
        <div class="container">
            <div class="tres-pasos"><h3>TENEMOS DELIVERY EN 3 PASOS</h3>
                <div class="camioneta">
                    <img src="" alt="paso 1">
                    <img src="" alt="paso 2">
                    <img src="" alt="paso 3">
                </div>
                <a class="start-order"><h4>COMENZAR PEDIDO</h4></a>
            </div>
            <div class="repetir-pedido">
                <h5>¿Ya pediste y querés repetir el pedido?</h5>
                <a class="login-index"><h4>INICIÁ SESIÓN</h4></a>
            </div>
            <div class="envio"><h4>CALCULAR ENVÍO</h4>
                <form>
                    <label for="codigo-postal"></label>
                    <input class="space-cp" type="CP" name="codigo-postal" placeholder="Tu código postal">
                </form>
                <a class="button-calcular">CALCULAR</a>
                <a><h6>No se mi código postal</h6></a>
            </div>
        </div>
    </section>

    <footer>
        <img class="footer-logo" width="15%" heigth="15%" src="img/Marca Huerta Ya_Marca.png" alt="">
        <nav>
            <div class="footer-container">
                <div class="footer-informacion">
                    <h4>Información</h4>
                    <ul>
                        <li>Tienda</li>
                        <li>Promociones</li>
                        <li>Combos</li>
                        <li>Productores</li>
                        <li>Ofertas</li>
                        <br>
                        <li>Contacto</li>
                    </ul>
            </div>
                <div class="footer-categorias">
                    <h4>Categorías</h4>
                    <ul>
                        <li>Bolsones</li>
                        <li>Verduras cortadas</li>
                        <li>verduras en bolsa</li>
                        <li>etc</li>
                    </ul>
                </div>
                <div class="footer-reparto">
                    <h4>Próximo reparto</h4>
                    <ul>
                        <li><p class="footer-reparto-fecha">Fecha</p></li>
                    </ul>
                </div>
            </div>
            <div class="footer-redes">
                    <h4>Redes</h4>
                    <img src="" alt="facebook">
                    <img src="" alt="instagram">
                    <a><img src="" alt="Whatsapp"></a>
            </div>
            
        </nav>
    </footer>
</body>
</html>