<!DOCTYPE html>
<html lang="en">

<head>
    <!--meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesLogin.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap" rel="stylesheet">
    <title>Login-HuertasYa</title> -->
    <%- include('./partials/head') %>
</head>

<body>
    <header>
   <!-- <header class="header-nav">
        <div class="contenedor-bar">
            <img src="/img/Marca Huerta Ya_marca.png" alt="logo" class="logo-nav">
            <div class="contenedor-search">
                <input type="text" placeholder="buscar producto" class="buscador-header">
            </div>

            <a href="#" class="hamburguer-button">
                <i class="fa-solid fa-bars"></i>
            </a>

        </div>
        <nav class="main-nav">
            <ul class="left-nav">
                <li>Nosotros</li>
                <li>Productos</li>
                <li>Combos</li>
            </ul>
            <ul class="right-nav">
                <li><i class="fa-solid fa-right-to-bracket"></i>Login</li>
                <li><i class="fa-solid fa-cart-shopping"></i>Mi Carrito</li>
                <li>Crea tu Cuenta</li>
            </ul>
        </nav>-->
      <%- include('./partials/header')%>
    </header>

    <main>
        <div class="contenedor-formulario contenedor">
            <div class="imagen-formulario">

            </div>
            <form class="formulario">
                <div class="texto-formulario">
                    <h2> ¡Bienvenido de nuevo!</h2>
                    <p> Inicia seccion con tu cuenta</p>
                </div>
                <div class="input-detalles">
                    <label for="email">Usuario</label>
                    <input type="email" placeholder="Correo Electronico">
                </div>
                <div class="input-detalles">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="recordarme">
                    <label for="text">Recordarme</label>
                    <input type="checkbox" name="Recordarme">
                </div>
                <div class="input-detalles">
                    <button type="submit">LOGIN</button>
                </div>

                <div class="password-texto">
                    <a href="#">¿Ólvido su passaword?</a>
                </div>


            </form>
        </div>
    </main>
    <footer>
        <%- include("./partials/footer")%>
        <!--
        <img class="footer-logo" width="15%" heigth="15%" src="img/Marca Huerta Ya_Marca.png" alt="">
        <nav>
            <div class="footer-container">
                <div class="footer-informacion">
                    <h4>Información</h4>
                    <ul>
                        <li>Tienda</li>
                        <li>Promociones</li>
                        <li>Combos</li>
                        <li>Productores</li>
                        <li>Ofertas</li>
                        <br>
                        <li>Contacto</li>
                    </ul>
                </div>
                <div class="footer-categorias">
                    <h4>Categorías</h4>
                    <ul>
                        <li>Bolsones</li>
                        <li>Verduras cortadas</li>
                        <li>verduras en bolsa</li>
                        <li>etc</li>
                    </ul>
                </div>
                <div class="footer-reparto">
                    <h4>Próximo reparto</h4>
                    <ul>
                        <li><p class="footer-reparto-fecha">Fecha</p> </li>
                    </ul>
                </div>
            </div>
            <div class="footer-redes">
                <h4>Redes</h4>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-whatsapp"></i>
            </div>
        </nav>-->
    </footer>
</body>

</html>