<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stylesDetalle.css">
    <link rel="stylesheet" href="/css/register.css">
    <script src="https://kit.fontawesome.com/4d18b4db01.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4d18b4db01.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header class="header-nav">
        <div class="contenedor-bar"> 
        <img src="/img/Marca Huerta Ya_marca.png" alt="logo" class="logo-nav">
        <div class="contenedor-search"> 
        <input type="search" placeholder="Buscar producto" class="buscador-header"></div>
        
        <a href="#" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>
    </div>  
        <navbar class="main-nav">
            <ul class="left-nav">
                <li><a href="/Nosotros">Nosotros</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Combos</a></li>
            </ul>
            <ul class="right-nav"> 
                <li><a href="/login"><i class="fa-solid fa-right-to-bracket"></i>Login</a></li>
                <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i>Mi Carrito</a></li>
                <li><a href="/register">Crea tu Cuenta</a></li> 
            </ul>         
        </navbar>
    </header>
    <main class="cont-form">
    <!-- <div>
        <img src="/img/Imagen3.jpg" class="imagen-form">
    </div> -->
    <form action="/register" method="POST" class="formulario-registro">
        <a href="/login" class="ya-tenes-cuenta"><p>¿Ya tenes cuenta?</p></a>
        <label> Nombre</label>
            <input type="text" name="Nombre" placeholder="Lionel" class="nombre"> 
     
     <label>Apellido </label>
        <input type="text" name="Apellido" placeholder="Messi" class="nombre">
     
     <label>E-mail</label>
         <input type="email" name="email" placeholder="LionelMessi10@gmail.com">
     
     <label>Contraseña</label>
         <input type="password" name="contraseña" placeholder="Ingrese su contraseña">
     
     <label>Provincia</label>
         <input type="text" name="Provincia" placeholder="Buenos Aires">
     
     <label> Localidad</label>
        <input type="text" name="Localidad" placeholder="Bahia Blanca">
     
     <label>Numero de telefono</label>
         <input type="tel" name="Numero-de-telefono" placeholder="+54 11 9930599">
     <button type="submit" class="button">Enviar</button>
    
    </form>
   
</main>
<footer>
    <img class="footer-logo" width="15%" heigth="15%" src="img/Marca Huerta Ya_Marca.png" alt="">
    <nav>
        <div class="footer-container">
            <div class="footer-informacion">
                <h4>Información</h4>
                <ul>
                    <li>Tienda</li>
                    <li>Promociones</li>
                    <li>Combos</li>
                    <li>Productores</li>
                    <li>Ofertas</li>
                    <br>
                    <li>Contacto</li>
                </ul>
        </div>
            <div class="footer-categorias">
                <h4>Categorías</h4>
                <ul>
                    <li>Bolsones</li>
                    <li>Verduras cortadas</li>
                    <li>verduras en bolsa</li>
                    <li>etc</li>
                </ul>
            </div>
            <div class="footer-reparto">
                <h4>Próximo reparto</h4>
                <ul>
                    <li><p class="footer-reparto-fecha">Fecha</p></li>
                </ul>
            </div>
        </div>
        <div class="footer-redes">
                <h4>Redes</h4>
                <img src="" alt="facebook">
                <img src="" alt="instagram">
                <a><img src="" alt="Whatsapp"></a>
        </div>
        
    </nav>
</footer>
</body> 
</html>
