* {
    box-sizing: border-box;
}

/* mobile first */
body {
    background-color: rgb(181, 141, 86);
    font-family: 'Roboto', sans-serif;
}
/* .imagen-formulario {
    position: relative;
    
    background-size: cover;
    width: 100%;
    height: 3vh;
} */

.formulario {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    max-width: 90%;
    width: 400px; 
    
    margin: 0 auto;
    margin-top: 0;
    
}



@media (min-width:468px){
    main{
        margin: 0;
        background-image: url(../img/Imagen2.jpg);
        background-size: cover;
        background-position: 45% 75%;
    }
    /*.footer-container{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }*/
    .imagen-formulario {
        height: 20vh;
    }
  
    .formulario {
        width: 90%;
        max-width: 400px; 
    }
}   

/* checkpoint tablets */
@media (min-width: 768px) {
    
    .contenedor-formulario {
        display: flex;
        justify-content: center;
    }
    .imagen-formulario{
        height: auto;
    }
    main{
        margin: 0;
        background-image: url(../img/Imagen2.jpg);
        background-size: cover;
        background-position: 45% 75%;
    }
    .imagen-formulario {
        height: 80vh;
    }
  
    .formulario {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px; 
    }   

}

.contenedor {
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
}

.formulario {
    padding: 50px;
}

.texto-formulario,
input,
label,
a {
    color: rgb(40, 40, 40);
}
.texto-formulario h2{
    font-size: 50px;
    text-align: center;
}
.texto-formulario p{
    font-size: 22px;
    text-align: center;
    color: rgb(58, 58, 58);
}
.input-detalles label{
    display: block;
    font-size: 22px;
    
    margin: 20px 0;
    color: rgb(33, 33, 33);
}
.input-detalles input{
    width: 100%;
    padding: 10px 16px;
    border-radius: 5px;
    outline: auto;
    border: none;
    color: rgba(0, 0, 0, 0.335);
    
}
.input-detalles button{
    width: 30%;
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    display: block;
    margin: auto;
    color: white;
    background-color: #489032;
    
}
.recordarme{
    padding: 15px 0;
    font-size: 20px;
    text-align: center;
}
.password-texto{
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
    ;
}
main{
    margin: 0;
    background-image: url(../img/Imagen2.jpg);
    background-size: cover;
    background-position: 45% 75%;
}
.errores {
    color: red;
    margin: 20px auto;
    max-width: 100%;
   /* background: #f8f8f8a7;*/
    padding: 10px 0px; 
}
/*footer*/

footer {
    background-color: rgb(255, 193, 105);
}
.footer-logo {
    margin: 0px 0px 0px 35vw;
    width: 30vw;
}
.footer-container {
    display: flex;
    justify-content: space-around;
}
footer ul {
    list-style: none;
    padding: 0px;
}
.footer-reparto {
    width: 40%;
}
footer h4 {
    text-align: center;
    margin: 0px 0px 10px 0px;
}
.footer-redes {
    margin: auto;
    text-align: center;
}

@media (min-width: 1200px) {
    main {
        margin-bottom: 30px;
    }
    footer {
        display: flex;
        justify-content: space-around;
    }
    .footer-logo {
        margin: 0px
    }
    footer nav {
        width: 60vw;
        margin-top: 30px;
    }
    
    .imagen-formulario {
        
       
        background-size: cover;
        width: 100%;
        height: 80vh;
    }
    
    .formulario {
        
        /* top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
        background-color: rgba(255, 255, 255, 0.911);
        padding: 20px;
        border-radius: 10px ;
    }
    
    
}
