*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: rgba(189, 184, 175,0.3);
}

body{
    background-image:url(/img/carrusel_1.jpg);
    background-size:contain;
    box-shadow: 3px 3px 8px #ccc;
}


.navconteiner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 33%;
    justify-content: space-around;
    margin-left: 10%;
}

.inicio{
color: red;
font-size: 25px;
margin-left: 50%;
}



.productNavbar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.category{
    font-size: 25px;
    color: rgb(248, 8, 8);
}


.cart{
    font-size: 25px;
    color: red;
}

.more{
    font-size: 25px;
    color: red;
}

.article{
    display: flex;
    flex-wrap: wrap;
    margin:10px 5px 10px 5px;
    border: 0.5px solid grey;
    width: 90%;
    background-color: rgba(189, 184, 175,0.3)
}

.img{
    width: 40%;
    height: auto;
}

.details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left:15%;
}

.productTitle{
    text-decoration: underline;
    font-size: 20px;
}

.amount{
    border: 1px solid black;
    padding: 5%;
    margin-left: 3%;
    font-size: 20px;
    margin-top: 30%;
}

.price{
    font-size: 20px;
    border: 1px solid black;
    margin-left: 3px;
    padding: 5%;
    margin-top: 30%;
}
.trashButton{
    margin-top: 10px;
}

.articleContainer{
    display: flex;
    flex-wrap: wrap;
}

.offertContainer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.offertImg{
    width: 80%;
    justify-content: center;
}

.offertArticle{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin-left: 10px;
    background-color: rgba(189, 184, 175,0.3)
}

.offertLabel{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.offertPrice{
    font-size: 20px;
}

.offertTitle{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}



.dataContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 20%;
    background-color: rgba(189, 184, 175,0.3);
    color: beige;
    border: beige;
}

.data{
    border: 1px solid gray;
    padding: 5px;
    font-size: 20px;
    margin-top: 10px;
    width: 40%;
}

.footerContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.footerButton{
    margin-left: 10px;
    padding: 5px;
}