*{
    box-sizing: border-box;
}


/* caja del producto */
.contenedor-articulos{
    margin: 1%;
    display: flex;
    width: 100%;
    border-radius: 5%;
    background-color: #ffc169f0;
    justify-content: center;
}
.contenedor-articulos img{
    width: 150px;
	height: 150px;
	object-fit: cover;
    resize: both;
    border-radius: 5% 0 0 5%;
}
.producto{
    margin: 0 3%;
    align-self: center;
}

.price{
    margin: 0 auto;
    align-self: center;
}
.delete {
    margin: 10px;
    align-self: flex-end;
    order: 1;
    color: #ff0000;
}
form{
    display: flex;
    align-content: center;
    
}
.cantidad{
    margin-top: 90%;
    margin-bottom: 10%;
    border-radius: 3%;
}

/* BOTONES */
.section-botones{
    display: flex;
    justify-content: space-around;
    background-color: none;
    background-color: #52525237 !important;
}
.boton-Scomprando{
    background-color: #4c0303;
    width: 40%;
    border-radius: 5%;
}
.boton-Scomprando a{
    color: #ffff;
    text-decoration: none;
    font-size: 18px;
}
.boton-finalizar{
    background-color: #4c0303;
    width: 40%;
    border-radius: 5%;
}
.boton-finalizar a{
    color: #ffff;
    text-decoration: none;
    font-size: 18px;
}


@media (min-width: 768px){
    .main-box{
        padding-bottom: 50vh;
    }
    .contenedor-articulos{
        width: 75%;
        margin: 10px auto;
    }
    .boton-finalizar{
        width: 20%;
    }
    .boton-Scomprando{
        width: 20%;
    }
    footer{
        position:absolute;
        bottom: 0;
        width: 100%;
    }
}