.imagen-producto {
    width: 20vw;
}
.imagen-reparto {
    width: 20vw;
}
.imagen-producto-relacionado {
    width: 5vw;
}
.imagen-producto-ofertado {
    width: 5vw;
}

.product-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.product-navbar ul {
    display: flex;
    list-style: none;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.producto-a-detallar {
    width: 50vw;
}

.producto-a-detallar .producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.producto-detalle {
    width: 60%;
    margin: auto;
}

.product-interactions {
    width: 30%;
}

h3 {
text-align: center;
}

.productos-relacionados {
    display: flex;
    justify-content: space-around;
}

.productos-en-oferta {
    display: flex;
    justify-content: space-around;
}
