*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* mobile first */

.header-nav {
    background-color: rgb(255, 193, 105);
    padding: 10px;
    display: flex;
 }
 main{
    background-color:#ebebeb ;
 }
.contenedor-formulario{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 100px;
    width: 100%;
}
.imagen-contenedor{
    background-size: cover;
    position: absolute;
    display: flex;
  
}
.input-detalles{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    margin: auto ;
    height: 350px;
    width: 700px;
    background-color:rgb(181, 141, 86) ;
    justify-content: space-evenly;
    border: none;
}
.input-detalles input{
    border-radius: 30px;
    width: 200px;
    
}
