*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.nav li {
    display: flex;
    justify-content: space-around;
    margin: 1%;
}

.intro {
    background-image: url("../img/imagen_principal.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 28vh;
    color: white;
    font-family: Open Sans;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.intro h1 {
    padding: 0%;
    margin: 0;
    
}

.intro h2 {
    padding-top: 15%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 0%;
    margin: 0;
}

.button-order h3 {
    padding: 5%;
         
    
}

.button-order {
    background-color: #489032;
    width: 40%;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    
}

.carrusel {
    margin-bottom: 1%;
}

.carrusel-1 {
    background-image: url("../img/carrusel_1.jpg");
    background-size: 100%;
    height: 26vh;
    color: white;
    font-family: Open Sans;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

.carrusel-2 {
    background-image: url("../img/carrusel_4.jpg");
    background-size: 100%;
    height: 26vh;
    color: white;
    font-family: Open Sans;
    text-align: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carrusel-3 {
    background-image: url("../img/carrusel_3.jpg");
    background-size: 100%;
    height: 26vh;
    color: white;
    font-family: Open Sans;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.delivery {
    background-image: url("../img/repartidor con caja.jpg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
   
}

.container {
    
    background-color: white;
    width: 60%;
    height: 100%;
    border-color: black solid 1px;
    text-align: center;
    font-family: open Sans;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 90%;
    

}

.container div h4 {
    padding: 3%;
    align-items: center;
}



.camioneta {
    margin: auto;
}

.start-order {
    width: 60%;
    display: flex;
    background-color: #DCDCDC;
    padding: 1%;
    margin: 5%;
    border: solid  1px black ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    

}

.login-index {
    display: flex;
    background-color: #DCDCDC;
    padding: 1%;
    width: 70%;
    margin: 5%;
    border: solid  1px black ;
    text-align: center;
    justify-content: center;
    color: black;
}

.repetir-pedido {
    display: flex;
    align-items: center;
}

.space-cp {
    width: 55%;
}

.button-calcular {
    background-color: #DCDCDC;
    width: 40%;
    padding: 1%;
    margin: 5%;
    border: solid  1px black ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

a h6 {
    color: black;
    text-decoration: dashed;
    margin-bottom: 3%;
}

/*footer*/

footer {
    background-color: rgb(255, 193, 105);
}
.footer-logo {
    margin: 0px 0px 0px 35vw;
    width: 30vw;
}
.footer-container {
    display: flex;
    justify-content: space-around;
}
footer ul {
    list-style: none;
    padding: 0px;
}
.footer-reparto {
    width: 40%;
}
footer h4 {
    text-align: center;
    margin: 0px 0px 10px 0px;
}
.footer-redes {
    margin: auto;
    text-align: center;
}

@media (min-width: 1200px) {
    main {
        margin-bottom: 30px;
    }
    footer {
        display: flex;
        justify-content: space-around;
    }
    .footer-logo {
        margin: 0px
    }
    footer nav {
        width: 60vw;
        margin-top: 30px;
    }
}