*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.nav li {
    display: flex;
    justify-content: space-around;
    margin: 1%;
}

.intro {
    background-image: url("../img/imagen_principal.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 28vh;
    color: white;
    font-family: Open Sans;
    text-align: center;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.intro .button-order {
    background-color: #489032;

}

.carrusel {
    margin-bottom: 1%;
}

.carrusel-1 {
    background-image: url("../img/carrusel_1.jpg");
    background-size: 100%;
    height: 26vh;
    color: white;
    font-family: Open Sans;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

.carrusel-2 {
    background-image: url("../img/carrusel_4.jpg");
    background-size: 100%;
    height: 26vh;
    color: white;
    font-family: Open Sans;
    text-align: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carrusel-3 {
    background-image: url("../img/carrusel_3.jpg");
    background-size: 100%;
    height: 26vh;
    color: white;
    font-family: Open Sans;
    text-align: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.delivery {
    background-image: url("../img/fondo frutas.jpg");
    background-repeat: repeat-x;
    background-size: 100%;
    display: flex;
   
}

.container {
    
    background-color: white;
    width: 60%;
    height: 100%;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.start-order {
    display: flex;
    background-color: gray;
    border: solid  1px black ;
    text-align: center;
    justify-content: center;

}