.product-image {
    position: relative;
    width: 60vw;
    margin: auto;
}

.imagen-producto {
    width: 60vw;
}
.producto .fa-heart {
    position: absolute;
    font-size: 30px;
    right: 2vw;
    top: 5PX;
    color: white;
}
.producto-detalle .fa-chevron-right {
    position: absolute;
    right: 1vw;
    bottom: 50%;
    font-size: 20px;
    color: white;
}
.producto-detalle .fa-chevron-left {
    position: absolute;
    left: 1vw;
    bottom: 50%;
    font-size: 20px;
    color: white;
}
.product-navbar {
    display:flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.product-navbar nav {
    display: flex;
    justify-content: center;
    width: 100%;
}
.producto-detalle {
    width: 90vw;
    margin: auto;
}
.descripcion-detallada {
    width: 90vw;
    margin: auto;
}
.page-title {
    width: 100%;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
}
.product-navbar ul {
    list-style: none;
    display: flex;
    padding-left: 0px;
}
.product-interactions {
    margin: auto;
}
.product-interactions{
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.product-amount {
    display: flex;
    width: 15vw;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0px;
}
.imagen-reparto {
    width: 20vw;
}
.imagen-producto-relacionado {
    width: 5vw;
}
.imagen-producto-ofertado {
    width: 5vw;
}

.product-interactions {
    width: 30%;
}

h3 {
text-align: center;
}


@media (min-width: 1200px) {

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .producto-a-detallar {
        width: 50vw;
    }
    
    .producto-a-detallar .producto {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .productos-relacionados {
        display: flex;
        justify-content: space-around;
    }

    .productos-en-oferta {
        display: flex;
        justify-content: space-around;
    }
    .product-navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .product-navbar ul {
        display: flex;
        list-style: none;
    }
    .fa-heart {
        position: absolute;
        left: 17vw;
        top: 5PX;
    }
    .producto-detalle {
        width: 60%;
        margin: auto;
    }
}