*{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
        
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;

}


.header-nav {
    margin: auto;

}

.intro {
    background-image: url("../img/imagen_principal.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 70%;
    min-width: 320px;
    margin: auto;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.intro h1 {
    padding: 0%;
    margin: 0;
    
}

.intro h2 {
    padding: 15% 5% 0% 5%;    
    margin: 0;
}

.button-order h4 {
    padding: 3%;
    
}

.button-order {
    margin: 5px auto;
    width: 40%;
    background-color: #4c0303;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    color: #fff;
    border-radius: 10px;
    transition: ease-out 0.3s;
    margin-bottom: 10%
    /*background-color: #489032;
    
    border-radius: 5px;
    margin: auto;
    margin-bottom: 15%;*/
}

.button-order:hover{
    box-shadow: inset 600px 0 0 0 #ffc169;
    cursor: pointer;
    color: #000000;
}

/*carousel*/



.carrusel-1
.carrusel-2
.carrusel-3 img{
    min-width: 320px;
    
    
}


.carousel-inner{
    height: 40%;
}

.carousel-caption{
    display: block;
    padding-top: 500px;
    
}



img.d-block.w-100 {
    height: 40%;
    object-fit:cover;
    clip-path: inset(100 px 0px 0 px 0 px);
}


/*
.carrusel-1 {
    background-image: url("../img/carrusel_1.jpg");
    background-size: 100%;
    width: 100vw;
    min-width: 320px;
    margin: auto;
    color: white;
    font-size: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15% 5% 15% 5%;
        
}


.carrusel-2 {
    background-image: url("../img/carrusel_4.jpg");
    background-size: 100%;
    width: 100vw;
    min-width: 320px;
    margin: auto;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10% 5% 10% 5%;
}

.carrusel-3 {
    background-image: url("../img/carrusel_3.jpg");
    background-size: 100%;
    width: 100vw;
    min-width: 320px;
    margin: auto;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15% 5% 15% 5%;
}

.carrusel {
    background-color: rgb(0,0,0);
}
*/

/*Section Cards*/


.tarjetas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background-color: #D8DFE0;
       
}


.tarjeta-1 {
    background-color: white;
    display: flex;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    text-align: center;
    justify-content: center;
    margin: 1%;
    width: 30%;
    bottom: 100px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
    
}

.tarjeta-1:hover{
    transform: translateY(-10px);
}


.tarjeta-2 {
    background-color: white;
    display: flex;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    text-align: center;
    justify-content: center;
    margin: 1%;
    width: 30%;
    bottom: 50px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.tarjeta-2:hover{
    transform: translateY(-10px);
}

.tarjeta-3 {
    background-color: white;
    display: flex;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    text-align: center;
    justify-content: center;
    margin: 1%;
    width: 30%;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
    
}

.tarjeta-3:hover{
    transform: translateY(-10px);
}

.card-img-number{
    display: flex;
    position: absolute;
    bottom: 80%;
      
}


.card-title{
    padding: 15% 0 2% 0;
    font-style: italic;
    text-shadow: 1px 1px 3px rgb(192, 189, 189);
  }

.card-text{
    padding: 3% 5% 5% 5%;
    color: #5a5a5a;
    
}

/*Section delivery */

.sectionIndex {
    margin: auto;
    width: 100vw;
}

.delivery2 {
    display: flex;
    width: 100%;
           
}



.repartidor {
    width: 100%;
}

/*no se esta usando*/
.delivery-3pasos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.delivery-titulo {
    font-size: 2rem;
    text-align: center;
   
  }

.delivery-camioneta {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-camioneta {
    width: 100%;
    
}

.start-order-2 button {
    background-color: #489032;
    width: 70%;
    padding: 1%;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;

}




/*Section login*/

.login-index {
    display: flex;
    background-color: #4c0303;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    color: #fff;
    transition: ease-out 0.3s;
    padding: 1%;
    width: 70%;
    margin: 5%;
    text-align: center;
    justify-content: center;
    
}


.login-index:hover{
box-shadow: inset 600px 0 0 0 #ffc169;
cursor: pointer;
color: #000000;
}


.manzana {
    margin: auto;
    background-color: white;
    background-image: url("../img/media-manzana-logo.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% -800%;
    display: flex;
    flex-direction: column;
       

}



/**/

.repetir-pedido {
    display: flex;
    justify-content: space-around;
    background-image: url("../img/logoCaja2.png");
    background-repeat: repeat-x;
    background-size: 30%;
    background-position: top;
    padding: 5% 10% 5% 10%;
}

.repetir-pedido h5 {
    margin: auto;
    justify-content: center;
    text-align: center;
}

.space-cp {
    width: 55%;
    padding: 1%;
    
}

.button-calcular-2 {
    background-color: #4c0303;
    width: 40%;
    padding: 1%;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    color: #fff;
    transition: ease-out 0.3s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button-calcular-2:hover{
box-shadow: inset 600px 0 0 0 #ffc169;
cursor: pointer;
color: #000000;
}


.form-codigo {
    display: flex;
}

a h6 {
    color: black;
    text-decoration: dashed 1px black;
    margin-bottom: 3%;
    margin-top: 1%;
}

.envio {
    padding: 0 10% 2% 10%;
}

/* media querie 340px*/
@media (min-width: 340px) {    
.manzana { 
    background-position: 50% -60%;
} 

.carousel-caption{
    display: block;
    
}

.repartidor{
    display: none;
}

.tarjetas{
    flex-direction: column;
    align-items: center;
}

.card-img-number{
    width: 20%;
      
}

.tarjeta-1{
    width: 80%;
    bottom: 0;
    margin: 1%;
}

.tarjeta-2{
    width: 80%;
    bottom: 0;
    margin: 1%;
}

.tarjeta-3{
    width: 80%;
    bottom: 0;
    margin: 1%;
}

}


/* checkpoint tablets */
@media (min-width: 768px) {
    main {
        margin-bottom: 30px;
    }

   
    .intro h1 {
        font-size: 45px;
        
    }
    
    .intro h2 {
        font-size: 35px;
        padding-top: 10%;
    }

    .button-order h4 {
        font-size: 30px;
        
    }   

    .button-order {
        margin-top: 5%;
    }
    
/*
    .carrusel-1 {
        background-position: center;
        font-size: 20px;
                                
    }

    .carrusel-1 p {
        padding: 3%;
    }
    
    .carrusel-2 {
        background-position: center;
        font-size: 20px;                      
    }
    
    .carrusel-2 p {
        padding: 3%;
    }

    .carrusel-3 {
        background-position: center;
        font-size: 20px;
    }

    .carrusel-3 p {
        padding: 3%;
    }
*/

    .carousel-inner{
        height: 30%;
    }
/*
    .carousel-caption{
        display: block;
        padding-bottom: 300px;
    }*/

    .repartidor{
        display: block;
    }

    .card-img-number{
        width: 20%;
        
    }

    .tarjetas{
        flex-wrap: wrap;
        flex-direction: row;

    }
        
    .tarjeta-1{
        width: 30%;
        bottom: 100px;
        margin: 1%;
    }

    .tarjeta-2{
        width: 30%;
        bottom: 50px;
        margin: 1%;
    }

    .tarjeta-3{
        width: 30%;
        bottom: 0;
        margin: 1%;
    }
    .sectionIndex {
        
        justify-content: center;
    }
     
    .delivery-3pasos {
        font-size: 180%;
           
    }
      

    .delivery-camioneta {
        width: 40vw;
       
    }

    .start-order-2 button{
        width: 100%;
        padding: 3%;
        justify-self: center;
        text-align: center;
        
        }
    
    .start-order-2 h4 {
        margin: 0, 2%;
            
    }
    

    .repetir-pedido {
        background-size: 50%;
        padding-top: 5%;
        justify-content: flex-start;

    }

    .manzana {
        height: auto;
        background-size: 40%;
        background-position: 90% -45%;
    }

    .repetir-pedido h5 {
        font-size: 15px;
        width: 24%;
        margin: 5%;
        margin-left: 0;
        margin-right: 0;
            
    }

    .login-index {
        width: 18%;
        margin-left: 0;
    }

    .envio {
        width: 55%;
    }

    footer {
        margin: auto;
    }

} 



@media (min-width: 1024px){
    .carousel-inner{
        height: 60vh;
    }
    .carousel-caption{
        display: block;
        padding-bottom: 500px;
    }
}

/* checkpoint computadoras */
@media (min-width: 1400px) {

    body {
        background-color: beige;
    }

    main {
        margin-bottom: 30px;
    }

    
    .intro h1 {
        font-size: 50px;
        
    }
    
    .intro h2 {
        font-size: 40px;
        padding-top: 10%;
    }

    .button-order h4 {
        font-size: 36px;
        
    }   

    .button-order {
        margin-top: 5%;
        width: 30%;
    }

    .carousel-inner{
        height: 80vh;
    }
    
    .carousel-caption{
        padding-bottom: 500px;
    }
    
    img.d-block.w-100 {
        height: 40%;
        object-fit:cover;
        clip-path: inset(100 px 0px 0 px 0 px);
    }

    .carrusel-1 {
        background-position: center;
        font-size: 40px;
                                
    }

    .carrusel-1 p {
        padding: 3%;
    }
    
    .carrusel-2 {
        background-position: center;
        font-size: 40px;                      
    }
    
    .carrusel-2 p {
        padding: 3%;
    }

    .carrusel-3 {
        background-position: center;
        font-size: 40px;
                                
    }

    .carrusel-3 p {
        padding: 3%;
    }

     
    
    .delivery2 {
        font-size: 350%;
           
    }

    .delivery-titulo {
        font-size: 350%;
    }
   

    .start-order-2 {
        width: 60%;
        color: black;
        justify-self: center;
        text-align: center;
    
    }
    
    .start-order-2 h4 {
        margin: 0, 2%;
        font-size: 140%;
        
        
    }
    

    .repetir-pedido {
        background-size: 50%;
        padding-top: 10%;
        justify-content: flex-start;

        
        
    }

    .manzana {
        background-size: 40%;
        background-position: 90% -40%;
        justify-content: center;
    }

    .repetir-pedido h5 {
        font-size: 20px;
        width: 24%;
        margin: 5%;
        margin-left: 0;
        margin-right: 0;
            
    }

    .login-index {
        width: 18%;
        margin-left: 1%;
    }

    .envio {
        width: 55%;
        justify-content: center;
    }

}