*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: rgba(189, 184, 175,0.3);
}

body{
    background-image:url(/img/carrusel_1.jpg);
    background-size:contain;
    box-shadow: 3px 3px 8px #ccc;
}

article{
    width: 100%;
}


.navconteiner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 33%;
    justify-content: space-around;
    margin-left: 10%;
}

.inicio{
color: red;
font-size: 25px;
margin-left: 50%;
}

.category{
    font-size: 25px;
    color: rgb(248, 8, 8);
}


.cart{
    font-size: 25px;
    color: red;
}

.more{
    font-size: 25px;
    color: red;
}

.article{
    display: flex;
    flex-wrap: wrap;
    margin:10px 5px 10px 5px;
    border: 0.5px solid rgb(197, 181, 181);
    width: auto;
    background-color: rgba(189, 184, 175,0.7);
    justify-content: space-around;
}

.img{
    width: 100%;
}

.img-article{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.productTitle{
    text-decoration: underline;
    font-size: 20px;
}

.amount{
    border: 1px solid black;

}

.price{
    font-size: 20px;

}
.trashButton{
    margin-top: 10px;
}

.articleContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.offertContainer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(189, 184, 175,0.7)
}

.offertImg{
    width: 80%;
    justify-content: center;
}

.offertArticle{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin-left: 10px;
    background-color: rgba(189, 184, 175,0.3)
}

.offertLabel{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.offertPrice{
    font-size: 20px;
}

.offertTitle{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}



.dataContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 20%;
    background-color: rgba(189, 184, 175,0.3);
    color: beige;
    border: beige;
}

.data{
    border: 1px solid gray;
    padding: 5px;
    font-size: 20px;
    margin-top: 10px;
    width: 40%;
}

.footerContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.footerButton{
    margin-left: 10px;
    padding: 5px;
}

footer {
    background-color: rgb(255, 193, 105);
}
.footer-logo {
    margin: 0px 0px 0px 35vw;
    width: 30vw;
}
.footer-container {
    display: flex;
    justify-content: space-around;
}
footer ul {
    list-style: none;
    padding: 0px;
}
.footer-reparto {
    width: 40%;
}
footer h4 {
    text-align: center;
    margin: 0px 0px 10px 0px;
}
.footer-redes {
    margin: auto;
    text-align: center;
}

.botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 3px 3px 3px 3px;
}

@media (min-width: 1024px){
    .details{
        justify-content: center;
    }
    .article{
        margin-left: 5px;
        justify-content: space-between;
    }
    .details{
        margin-right: 20%;
    }
}

@media(min-width:1440px){
    .productTitle{
        font-size: 30px;
    }
    .amount{
        font-size: 20px;
        padding: 5px;
    }
    .price{
        font-size: 25px;
    }
    .trashButton{
        font-size: 15px;
        padding: 7px;
        background-color: gray;
    }
}