<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./partials/head.ejs")%>
    <title>Ups hubo un problema!</title>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="container" style="border-radius: 20px;">
          <h1>Error <%= errorCode %>: <%= errorMessage %></h1>
          <p>Lo sentimos, la página que estás buscando no existe.</p>
          <a href="http://localhost:3500" class="btn btn-primary">Volver al inicio</a>
        </div>
      </div>
      
</body>
</html>