<footer class="footer" style="position: relative; bottom: 0px; left: 0px; right: 0px;">
    <img class="footer-logo" width="15%" heigth="15%" src="img/Marca Huerta Ya_Marca.png" alt="">
    <nav>
        <div class="footer-container">
            <div class="footer-informacion">
                <h4>Información</h4>
                <ul>
                    <li>Tienda</li>
                    <li>Promociones</li>
                    <li>Combos</li>
                    <li>Productores</li>
                    <li>Ofertas</li>
                    <br>
                    <li>Contacto</li>
                </ul>
        </div>
            <div class="footer-categorias">
                <h4>Categorías</h4>
                <ul>
                    <li>Bolsones</li>
                    <li>Verduras cortadas</li>
                    <li>verduras en bolsa</li>
                    <li>etc</li>
                </ul>
            </div>
            <div class="footer-reparto">
                <h4>Próximo reparto</h4>
                <ul>
                    <h5>17/05/2023</h5>
                    <a href="/productos" class="button-order"><h3>PEDIR AHORA</h3></a>
                </ul>
            </div>
        </div>
        <div class="footer-redes">
                <h4>Redes</h4>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-whatsapp"></i>
        </div>
        
    </nav>
</footer>