<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <title>Detalles de usuarios</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
         <h1>DETALLE DE USUARIOS</h1>
         <ul>
            <% for(let i =0 < user.length; i++) { %>
                <li>
                    <a href="apunta hacia la vista update user"> <%= user[i].first_name %></a>
                </li>
                <% } %>
         </ul>

    </main>
</body>
<%- include('../partials/footer') %>
</html>