<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/stylesLogin.css">
    <title>Login</title>
<body>
      <%- include('../partials/header')%>
    <main>
        <div class="contenedor-formulario contenedor">
            <div class="imagen-formulario">

            </div>
            <form class="formulario" action="/login" method="POST">
                <div class="texto-formulario">
                    <h2> ¡Bienvenido de nuevo!</h2>
                    <p> Inicia seccion con tu cuenta</p>
                </div>
                <div class="input-detalles">
                    <label for="email">Usuario</label>
                    <input type="email" placeholder="Correo Electronico" name="email">
                </div>
                <div class="input-detalles">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="recordarme">
                    <label for="recordarme">Recordarme</label>
                    <input type="checkbox" name="recordarme" id="recordarme">
                </div>
                <div class="input-detalles">
                    <button type="submit">LOGIN</button>
                </div>

                <div class="password-texto">
                    <a href="#">¿Ólvido su passaword?</a>
                </div>


            </form>
        </div>
    </main>
    <footer>
        <%- include("../partials/footer")%>
    </footer>
</body>

</html>